
# @author 
# Web Design Enterprise.
# Phone: 786 234 6361
# Website: www.webdesignenterprise.com
# E-mail: info@webdesignenterprise.com
# Support: support@webdesignenterprise.com
# 
# @copyright 2002 - 2008 All rights reserved.
 
deny from all